@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* style for login */

/* codigo de prueba para mobile*/
.container{
  background-color: #B8FCC6;
  min-height: 100vh;
  padding: 2rem;
}

.prueba{
  /* display: flex; */
  /* flex-direction:  column; */
}

.title{
margin-bottom: 1.5rem;
font-family: 'Londrina Solid', cursive;
font-size: 2.5rem;
text-align: center;
color: black;
}

.welcome-text{
  padding: 0 1.5rem;
  
}
.signup{
  text-align: center;
}

[required]{
  width: 90%;
  height: 2rem;
  margin: 2rem auto -1rem;
  padding: 0px 15px;
  outline: none;
  font-size: 1.05rem;
  border: none;
  border-bottom: 0.1em solid #f9c94ceb;
  background-color: #B8FCC6;
}
::-webkit-input-placeholder { 
  color:#362c2c
}

.img-home{
  width: 100%;
  }
.img-register{
  width: 90%;
  }

.fab, .fas{
  width: 30px;
  margin: 0 8px;
  color: #fff;
}
/* .fas{
  width: 30px;
  margin: 0 8px;
  color: #f3f3f3;
} */
.btn{
margin-top: 1.5rem;
padding: 8px 1rem;
border-radius: 10px;
border: none;
outline: none;
cursor: pointer;
text-align: center;
color: #f3f3f3;
}    
.btn-tripventure{
  height: 3rem;
  background-color: #f9c94ceb;
  width: 90%;
  font-size: 1.3rem;
}
.btn-facebook, .btn-google{
  /* width: 25%; */
  /* height: 4rem; */
  border-radius: 50px;
  margin-bottom: 0.5rem;
  background-color:#395185 ;
}
.btn-google{
  background-color: #d9534f;
}


/* diseño para desktop */
@media(min-width: 768px){
  .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .prueba{
    grid-column-start: 2;
    /* margin: auto; */
    text-align: center;
  }
  .content{
    height: 100%;
    width: 60%;
    /* justify-content: space-between  ; */
  }
  /* .container{
    height: 100vh;
    display: flex;
    align-items: center;
  }
  .prueba{
    height: 100%;
    width: 327px
  }

  .content{
    height: 70%;
    padding: 5rem;
  }

  .img-home{
    width: 50%;
    height: 70%;
  } */
}