@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* style for login */

/* codigo de prueba para mobile*/
.container{
  background-color: #B8FCC6;
  min-height: 100vh;
  padding: 2rem;
}

/* .prueba{
  display: flex; */
  /* flex-direction:  column; 
}*/

.title{
margin-bottom: 1.5rem;
font-family: 'Londrina Solid', cursive;
font-size: 2.5rem;
text-align: center;
color: black;
}

.welcome-text{
  padding: 0 1.5rem;
  
}
.signup{
  text-align: center;
}

[required]{
  width: 90%;
  height: 2rem;
  margin: 2rem auto 1rem;
  padding: 0px 15px;
  outline: none;
  font-size: 1.05rem;
  border: none;
  border-bottom: 0.1em solid #f9c94ceb;
  background-color: #B8FCC6;
}
.email-login{
  position: relative;
}
.helpertext{
  color: red;
  position: absolute;
  left: 38px;
  right: 50px;
  top: 443px;
}
::-webkit-input-placeholder { 
  color:#362c2c
}

.img-home{
  width: 100%;
  }
.img-register{
  width: 90%;
  }

.fab, .fas{
  width: 30px;
  margin: 0 8px;
  color: #f3f3f3;
}
/* .fas{
  width: 30px;
  margin: 0 8px;
  color: #f3f3f3;
} */
.btn{
margin-top: 1.5rem;
padding: 8px 1rem;
border-radius: 10px;
border: none;
outline: none;
cursor: pointer;
text-align: center;
color: #333646;
}    
button:disabled{
  background-color: #4e5774;
}    
.btn-tripventure{
  height: 3rem;
  background-color: #f9c94ceb;
  width: 90%;
  font-size: 1.3rem;
}
.btn-facebook, .btn-google{
  /* width: 25%; */
  /* height: 4rem; */
  border-radius: 50px;
  margin-bottom: 0.5rem;
  background-color:#395185 ;
}
.btn-google{
  background-color: #d9534f;
}

/* css for home*/
/* .header-nav{
  text-align: center;
  border-bottom: 1px solid #c5bfbf;
}
.logo{
    width: 20px;
}

.home-container{
  height:calc(100vh - 32px);
  background-color: #fff;
} */



/*page 404*/
.notfound-container{
  height: 100vh;
  padding: 1rem;
  color: #4e5774;
}
.img-404{
  height: 45%;
  width: 100%;
}

.header-text{
  font-size: 4.5rem;
  margin-bottom:1rem;
}
.title-404{
  display: none;
}
.subtitle, .text-ancor{
  margin-bottom: 1rem;
}

.fa-home, .fa-user, .fa-cog, .fa-sign-out-alt{
  color: #549660;
}
.icon-home, .icon-user{
  margin: 1rem 1rem;
  color: #549660;
}

 /*Desing Home*/
.body-content{
  background-color: #f4f4f4;
  height: 100%;
  margin: 5px;
  width: 100%;
  /* padding: 0 28rem; */
}
.header-home{
  background-color:#B8FCC6 ;
}
.home-title{
margin-bottom: 0;
font-size: 2.5rem;
}

.nav{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
  text-align: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  overflow-x: auto;
}

.nav-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 13px;
  color: #444444;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.nav-link:hover{
  background-color: #B8FCC6;
}
.nav-icon{
  font-size: 18px;
}
/*home content*/
.textarea{
  width: 70%;
  height: 65% ;
  border-radius: 12px;
  display: block;
  padding: 7px;
  margin-left: 3rem;
}
.publication{
  background-color: #ffff;
  height: 135px;
  margin-top: 12px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.post{
  cursor: pointer;
  border: none;
  outline: none;
  margin-left: 4.5rem;
  margin-top: 0.5rem;
  padding: 1px;
}
.btn-file{
  margin-left: 5rem
}
.fa-ellipsis-h{
  /* margin-left: 336px;  */
  color: #333646;
} 
/* .btn-modal-toPost{
  justify-content: flex-end;
} */
/* .option-privacity{
  cursor: pointer;
  display: none;
  color: black;
  background-color: chartreuse;
} */
.privacidad{
  /* background-color: #B8FCC6; */
  cursor: pointer;
  width: 7.5rem;
  margin: 2px 14.5rem;
  position: relative
}
.privacidad ul{
  display: none;
  list-style-type: none;
}
.privacidad.open ul{
  display: block;
}
.privacidad.open li:hover{
  background-color: #B8FCC6;
}
.option-privacity-post{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.o-publication{
  cursor: pointer;
  width: 7.5rem;
  height: 7rem;
}
.content-option-post{
  width: 7.5rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.o-publication ul{
  display: none;
  list-style-type: none;
}
.o-publication.open ul{
  display: block;
}
.setting-post{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin-top: 6px;
  font: inherit;
  cursor: pointer;
  outline: inherit
}
.setting-post:hover{
  background-color: #B8FCC6;
}
.fa-pen, .fa-globe-americas, .fa-lock, .fa-trash-alt{
  color: #333646;
}

/* .fa-image, .fa-paper-plane{
  margin-left: 4.5rem;
  margin-top: 0.5rem;
} */
.content-posts{
  background-color: #ffff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-top: 0.5rem;
  height: 10rem;
  width: 100%;
  padding: 0.7rem;
}
.data-user{
  width: 100%;
  display: flex;
  height: 42%;
  position: relative
}

.photo-user{
  border-radius: 55px;
  width: 50px;
  height: 50px;
}

.name-user{
  width: 100%
}

.content-message{
  margin: 5px;
  width: 23rem;
  height: 3rem;
}
.like{
  padding: 10px;
  border-top: 1px solid #918c8c;
  background: none;
  color: inherit;
  border: none;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.coment{
  margin-left: 4.5rem;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit
}

/* diseño para desktop */
@media(min-width: 768px){
  .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .prueba{
    grid-column-start: 2;
    /* margin: auto; */
    text-align: center;
  }
  .content{
    height: 100%;
    width: 60%;
  }

  /*404 not found*/
  .img-404{
  height: 100%;
  width:100%;
}
.notfound-container{
  display: grid;
  grid-template-columns: 65% 35%;
  height: 100vh;
  align-items: center;
}
.text-404{
  height: 70%;
  padding: 1.5rem;
  align-content: space-evenly;
  text-align: initial
}
.header-text{
  color: #4e5774;
  font-size: 5.5rem;
  margin-bottom:3rem;
}
.title-404{
  display: block;
  color: #4e5774;
  font-size: 2.3rem;
  
}
.subtitle, .text-ancor{
  color: #4e5774;
  font-size: 1.5rem;
  margin-bottom:1.3rem;
}
.icon-home, .icon-user{
  margin: 1rem 1.5rem;
}
.nav{
  width: 100%;
}

.body-content{
  padding: 0 35rem;
  margin: 0px;
  height: 100%;
}

.publication{
  margin-top: 0px;
  padding-top: 22px;
  height: 13rem;
}
}